upstream boyipcnode {
	server 127.0.0.1:1818;
	keepalive 64;
}
server
{
    listen 80;
    server_name boyipc1.21bmw.com;
    location / {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;  
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Nginx-Proxy true;
        proxy_cache_bypass $http_upgrade;
        proxy_pass http://boyipcnode; #反向代理
    }
    
    #SSL-START SSL相关配置，请勿删除或修改下一行带注释的404规则
    #error_page 404/404.html;
    #SSL-END
    
    #ERROR-PAGE-START  错误页配置，可以注释、删除或修改
    #error_page 404 /404.html;
    #error_page 502 /502.html;
    #ERROR-PAGE-END
    
		location /api/ {
            #网站中要配置一个名称为techcomer的虚拟目录，并且和location的二级目录名称一致
            proxy_pass      http://byi.21bmw.com/api/;
            proxy_redirect  off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location /uploads/ {
            #网站中要配置一个名称为techcomer的虚拟目录，并且和location的二级目录名称一致
            proxy_pass      http://byi.21bmw.com/uploads/;
            proxy_redirect  off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location /assets/ {
            #网站中要配置一个名称为techcomer的虚拟目录，并且和location的二级目录名称一致
            proxy_pass     http://byi.21bmw.com/assets/;
            proxy_redirect  off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    
    #禁止访问的文件或目录
    location ~ ^/(\.user.ini|\.htaccess|\.git|\.svn|\.project|LICENSE|README.md)
    {
        return 404;
    }
    
    #一键申请SSL证书验证目录相关设置
    location ~ \.well-known{
        allow all;
    }
    
    access_log  /www/wwwlogs/boyipc1.21bmw.com.log;
    error_log  /www/wwwlogs/boyipc1.21bmw.com.error.log;
}


